body {
  margin: 0px;
}
div.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
}

div.table {
  width: 500px;
  height: 500px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  border: 10px solid #ccc;
}
@media screen and (max-width: 550px) {
  div.table {
    width: 300px;
    height: 300px;
  }
}

div.tile {
  width: 12.5%;
  height: 12.5%;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tile-gray {
  background-color: #acacac;
}

div.tile-white {
  background-color: white;
}

div.player {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
  align-items: center;
  border-radius: 50%;
}

div.player.black {
  background-color: #555;
  box-shadow: 0px 0px 25px 0px black inset, -1px 0px 3px 0px black;
}

div.player.white {
  background-color: white;
  box-shadow: 0px 0px 25px 0px #ccc inset, -1px 0px 3px 0px black;
}

div.player.white.selected {
  box-shadow: 0px 0px 25px 0px #ccc inset, -2px 0px 5px 3px black !important;
}

div.player.black.selected {
  box-shadow: 0px 0px 25px 0px black inset, -2px 0px 5px 3px black !important;
}

div.unselected {
  border: none;
}

div.turnOff {
  display: none;
}

div.buttons {
  padding: 5px 0px 5px 0px;
  background-color: #555;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

button.button {
  margin: 0px 5px 0px 5px;
}

div.whoPlay {
  padding: 5px 0px 5px 0px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #555;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

div.piecesCounterBar {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding-top: 5px;
}

div.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  background-color: white;
  margin-top: 5px;
  justify-content: center;
  color: black;
}
div.footer > h4 {
  margin: 5px;
}
